<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Makanan Kuliner SpaceFood Indonesia Cafe Restaurant">
    <title>Space Food</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <a href="#popularresto" class="skip-link">Skip to Content</a>
    <header class="header" id="home">
        <div class="header__inner">
            <h1 class="header__title">
                Space Food
            </h1>
        </div>
        <a id="menu" arial-label="Click to Show Side Menu" class="header__menu" href="#">☰</a>
        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home">Home</a></li>
                <li class="nav__item"><a href="#">Favorite</a></li>
                <li class="nav__item"><a href="https://www.linkedin.com/in/basudewa-suputra-b6195a256/">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="jumbotron" aria-label="ini adalah jumbotron">
        <div class="jumbotron__inner">
            <h1 tabindex="0" class="jumbotron__title">Lorem Ipsum. </h1>
            <p tabindex="0" class="jumbotron__tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, beatae?</p>
        </div>
    </div>
    <main id="popularresto">
        <section class="content">
            <div class="popular">
                <h1 tabindex="0" class="popular__label">Popular Resto</h1>
                <div class="posts">
                    <list-resto></list-resto>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <ul>
            <li><a tabindex="0" href="#">Help</a></li>
            <li><a tabindex="0" href="https://www.linkedin.com/in/basudewa-suputra-b6195a256/">About Us</a></li>
            <li><a tabindex="0" href="#">Contact Us</a></li>
        </ul>
    </footer>
</body>

</html>